In [1]:
#1)modify the first item(22)of a list inside the following tuple to 222?
#tuple1=(11,[22,33],44,55)

tuple1=(11,[22,33],44,55)
tuple1[1][0]=222
print("then the tuple is:",tuple1)

then the tuple is: (11, [222, 33], 44, 55)

In [5]:
#2)count the number of occurance of item 50 from a tuple?
#tuple1=(50,10,60,70,50)

tuple1=(50,10,60,70,50)
t=0
for i in tuple1:
    if i==50:
        t=t+1
	
	
print("the  number 50 is",t,"times occure in the given tuple")

the  number 50 is 2 times occure in the given tuple

In [7]:
#3)write a python program to convert a list to tuple?

list1=[1,2,3,4,12,44]
print("the list to be converted :",list1)
tuple1=tuple(list1)
print("the converted tuple is",tuple1)

the list to be converted : [1, 2, 3, 4, 12, 44]
the converted tuple is (1, 2, 3, 4, 12, 44)

In [8]:
#4)returns a new set with all items from both sets by removing duplicate
#set1={10,20,30,40,50}
#set2={30,40,50,60,70}

set1= {10,20,30,40,50}
set2={30,40,50,60,70}
set3=set1|set2
print("set :",set3)

set : {70, 40, 10, 50, 20, 60, 30}

In [9]:
#5)merge following two python dictionaries intp one?
#dict1={'ten':10,'twenty':20,'thirty':30}
#dict2={'thirty':30,'fourty':40,'fifty':50}

dict1={'ten':10,'twenty':20,'thirty':30}
dict2={'thirty':30,'fourty':40,'fifty':50}
dict1.update(dict2)
print("dictionary after merging",dict1)

dictionary after merging {'ten': 10, 'twenty': 20, 'thirty': 30, 'fourty': 40, 'fifty': 50}

In [14]:

#6)given a python dictionary change brad's salary to 8500
#sampledict={
#	'em1':{'name':'john','salary':7500},
#	'em2':{'name':'emma','salary':8000},
#	'em3':{'name':'brad','salary':6500},
#	     }

sampledict={
    'em1':{'name':'john','salary':7500},
	'em2':{'name':'emma','salary':8000},
	'em3':{'name':'brad','salary':6500},
}

	
	     
sampledict['em3']['salary']=8500
print("dictionary after update :",sampledict)

dictionary after update : {'em1': {'name': 'john', 'salary': 7500}, 'em2': {'name': 'emma', 'salary': 8000}, 'em3': {'name': 'brad', 'salary': 8500}}

In [18]:
#7)rename key city to location in the following dictionary
#sampledict={"name":"kelly",
	#      "age":25,
	 #     "salary":8000,
	 #     "city":New York"
	#    }


sampledict={
    "name":"kelly",
	      "age":25,
	      "salary":8000,
	      "city":"New York"
	    }
sampledict.pop("city")
sampledict
sampledict["location"]="New York"
sampledict

{'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'New York'}